.article
    padding-bottom: 30px
    border-bottom: 1px solid #F0F0F0
    display: flex
    align-items: flex-start
    justify-content: space-between
    &__about
        font-family: 'Popins', sans-serif
        font-size: 0.875rem
        font-weight: 400
        color: #222f3e
        margin-bottom: 0.9375rem
    &__title
        font-family: 'NuosuSIL', serif
        font-size: 1.125rem
        color: #222f3e
        margin-bottom: 15px
    &__user
        font-family: 'Poppins', sans-serif
        font-size: 0.875rem
        font-weight: 600
        color: #222f3e
    >.button
        font-size: 0.75rem
        margin-left: 30px

@media (min-width: 720px)
    .article
        &__about
            font-size: 1rem
        &__title
            font-size: 1.375rem
        &__user
            font-size: 1rem
        >.button
            font-size: 1rem